@using FhirClient.Viewmodels
@model Hl7.Fhir.Model.CodeableConcept


<div class="form-inline">
    @{
        @if (Model?.Coding is not null)
        {
            <label class="form-control col-sm-1 bg-warning">Text</label>
            @Html.EditorFor( m => Model.Text, new { htmlattributes = new {@class="form-control col-sm-2"}})
            <br/>
            @:<div class="form-inline">
                for (int k = 0; k < Model.Coding.Count; k++)
                {
                    <label class="form-control col-sm-1 bg-warning">System</label>
                    @Html.EditorFor( m => Model.Coding[k].System, new { htmlattributes = new {@class="form-control col-sm-3"}})
                    <label class="form-control col-sm-1 bg-warning">Code</label>
                    @Html.DropDownListFor( m => Model.Coding[k].Code, PatientEditViewmodel.CodeDropdownForContact, new {@class="form-control"})
                    @Html.EditorFor(m => Model.Coding[k].Code, new { htmlattributes = new {@class="form-control col-sm-1", disabled = "disabled", @readonly = "readonly" }})
                }
            @:</div>
        }
    }
</div>
