<h1>Main menu</h1>
<hr />
<input type="button" class="btn btn-primary btn-lg" value="List Patients" onclick="location.href='@Url.Action("List", "Home")'" />
<hr />
<input type="button" class="btn btn-primary btn-lg" value="Read Patient" onclick="location.href='@Url.Action("Read", "Home")'" />
<hr />
<input type="button" class="btn btn-primary btn-lg" value="Create Patient" onclick="location.href='@Url.Action("Create", "Home")'" />
