@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container">
    @ViewBag.Message
    <a asp-action="PatientList" class="btn btn-outline-primary">Back to List</a>
</div>
