
<div class="container">
<form asp-action="PatientEdit" method="post">
    <br /><h2>Patient Edit</h2><br />

    @Html.Partial("_Patient")

    <hr />
    <button type="submit" name ="submit" value="Save" class="btn btn-primary">Save Patient</button>
    <button type="submit" name= "submit" value="Validate" class="btn btn-primary">Save & Validate</button>
    <a asp-action="PatientList" class="btn btn-outline-primary">Cancel and Back to List</a>

</form>
</div>

