@model FhirClient.Viewmodels.PatientEditViewmodel

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" readonly="readonly" style="width: 500px;"/>
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FamilyName" class="control-label"></label>
                <input asp-for="FamilyName" class="form-control" />
                <span asp-validation-for="FamilyName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gender" class="control-label"></label>
                <select asp-for="Gender" asp-items="Html.GetEnumSelectList<Hl7.Fhir.Model.AdministrativeGender>()">
                    <option selected="selected" value="">Please select</option>
                </select>
                <span asp-validation-for="Gender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BirthDateTime" class="control-label"></label>
                <input asp-for="BirthDateTime" class="form-control" />
                <span asp-validation-for="BirthDateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Active" class="control-label"></label>
                <select asp-for="Active" class="form-control">
                    <option>not set</option>
                    <option>true</option>
                    <option>false</option>
                </select>
                <span asp-validation-for="Active" class="text-danger"></span>
            </div>
            <div class="form-group">
@*                <label><input asp-for="deceasedBoolean" type="checkbox" value=""/>@Html.DisplayNameFor(m => m.deceasedBoolean)</label>
*@
                <label asp-for="deceasedBoolean" class="control-label"></label>
                <select asp-for="deceasedBoolean" class="form-control">
                    <option>not set</option>
                    <option>true</option>
                    <option>false</option>                    
                </select>
                <span asp-validation-for="deceasedBoolean" class="text-danger"></span>

                <label asp-for="deceasedDateTime" class="control-label"></label>
                <input asp-for="deceasedDateTime" class="form-control" />
                <span asp-validation-for="deceasedDateTime" class="text-danger"></span>
            </div>
 
            <div class="form-group">
                <label asp-for="maritalStatusTxt" class="control-label"></label>
                <input asp-for="maritalStatusTxt" class="form-control" />
                <span asp-validation-for="maritalStatusTxt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="maritalStatus1sys" class="control-label"></label>
                <input asp-for="maritalStatus1sys" class="form-control" />
                <span asp-validation-for="maritalStatus1sys" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="maritalStatus1cod" class="control-label"></label>
                <input asp-for="maritalStatus1cod" class="form-control" />
                <span asp-validation-for="maritalStatus1cod" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="maritalStatus1dsp" class="control-label"></label>
                <input asp-for="maritalStatus1dsp" class="form-control" />
                <span asp-validation-for="maritalStatus1dsp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="contact1name" class="control-label"></label>
                <input asp-for="contact1name" class="form-control" />
                <span asp-validation-for="contact1name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="contact1rel1coding1cod" class="control-label"></label>
                <input asp-for="contact1rel1coding1cod" class="form-control" />
                <span asp-validation-for="contact1rel1coding1cod" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="communication1languageCoding1code" class="control-label"></label>
                <input asp-for="communication1languageCoding1code" class="form-control" />
                <span asp-validation-for="communication1languageCoding1code" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="communication1languageCoding1system" class="control-label"></label>
                <input asp-for="communication1languageCoding1system" class="form-control" />
                <span asp-validation-for="communication1languageCoding1system" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="communication1languageCoding1display" class="control-label"></label>
                <input asp-for="communication1languageCoding1display" class="form-control" />
                <span asp-validation-for="communication1languageCoding1display" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="generalPractitionier1display" class="control-label"></label>
                <input asp-for="generalPractitionier1display" class="form-control" />
                <span asp-validation-for="generalPractitionier1display" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="generalPractitionier1reference" class="control-label"></label>
                <input asp-for="generalPractitionier1reference" class="form-control" />
                <span asp-validation-for="generalPractitionier1reference" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<a asp-action="PatientList">List</a>
