@using FhirClient.Viewmodels;
@model PatientEditViewmodel

<div class="container">
<form asp-action="PatientEdit" method="post">
    <br /><h2>Patient Edit</h2><br />

    @Html.Partial("_Patient")




    <a asp-action="PatientList">List</a>
    <br /><br />

    <input type="submit" value="Save" class="btn btn-primary" />

</form>
</div>

