@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<form method="POST">
    <label>Id</label>
    <input type="text" placeholder="Type Id here" name="Id"/>
    <input type="submit" />
</form>

<a asp-action="Index">Home</a>
