@*

THIS WORKS OUT

<hr /><h4>Name</h4><br />
@if (Model.Name is not null && Model.Name.Any())
{
    @for (int j=0; j< Model.Name.Count; j++)
    {
        <div class="border border-primary pt-3 pb-3 mt-3 mb-3">
            <div class="form-inline">

                <label asp-for="Name[j].Use" class="form-control col-sm-1 bg-warning"></label>
                <select asp-for="Name[j].Use" class="form-control"
                asp-items="Html.GetEnumSelectList<Hl7.Fhir.Model.HumanName.NameUse>()">
                </select>
                <label asp-for="Name[j].Text" class="form-control col-sm-1 bg-warning"></label>
                <input asp-for="Name[j].Text" class="form-control col-sm-3" readonly/>

                <label asp-for="Name[j].Family" class="form-control col-sm-1 bg-warning"></label>
                <input asp-for="Name[j].Family" class="form-control col-sm-3" />
                <br />
                 @{ 
                    for (int k = 0; k < Model.Name[j].Given.Count(); k++)
                    {
                      <input name="Name[@j].GivenElement[@k].Value" type="text" value="@Model.Name[@j].GivenElement[@k].Value" class="form-control col-sm-3">
                    }
                 }
            </div>
        </div>
    }
}
*@

